html {
  scroll-behavior: smooth;
}

body {
  // background-color: var(--bg-main);
  color: var(--text-white);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  cursor: url(../images/сursor.svg), auto;

  background-image: url('../images/background/mobile/mobile-bg-1-min.png'),
    linear-gradient(
      to bottom,
      #84a178 503px,
      #fcfcfc 503px,
      #fcfcfc 1771px,
      #84a178 1771px,
      #84a178 4313px,
      #fcfcfc 4313px,
      #fcfcfc 5244px,
      #84a178 5244px
    );
  background-repeat: no-repeat;
  background-size: 100% 931px, 100% 100%;
  background-position: top 4313px left 0, 0 0;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/background/mobile/mobile-bg-1@2x-min.png'),
      linear-gradient(
        to bottom,
        #84a178 503px,
        #fcfcfc 503px,
        #fcfcfc 1771px,
        #84a178 1771px,
        #84a178 4313px,
        #fcfcfc 4313px,
        #fcfcfc 5244px,
        #84a178 5244px
      );
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url('../images/background/mobile/mobile-bg-1@3x-min.png'),
      linear-gradient(
        to bottom,
        #84a178 503px,
        #fcfcfc 503px,
        #fcfcfc 1771px,
        #84a178 1771px,
        #84a178 4313px,
        #fcfcfc 4313px,
        #fcfcfc 5244px,
        #84a178 5244px
      );
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/background/tablet/tablet-bg-min.png'),
      linear-gradient(
        to bottom,
        #84a178 415px,
        #fcfcfc 415px,
        #fcfcfc 1235px,
        #84a178 1235px,
        #84a178 2275px,
        #fcfcfc 2275px,
        #fcfcfc 3193px,
        #84a178 3193px
      );

    background-repeat: no-repeat;
    background-size: 100% 918px, 100% 100%;
    background-position: top 2275px left 0, 0 0;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/background/tablet/tablet-bg@2x-min.png'),
        linear-gradient(
          to bottom,
          #84a178 415px,
          #fcfcfc 415px,
          #fcfcfc 1235px,
          #84a178 1235px,
          #84a178 2275px,
          #fcfcfc 2275px,
          #fcfcfc 3193px,
          #84a178 3193px
        );
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('../images/background/tablet/tablet-bg@3x-min.png'),
        linear-gradient(
          to bottom,
          #84a178 415px,
          #fcfcfc 415px,
          #fcfcfc 1235px,
          #84a178 1235px,
          #84a178 2275px,
          #fcfcfc 2275px,
          #fcfcfc 3193px,
          #84a178 3193px
        );
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url('../images/background/bigger/second-big-desktop-bg-min.png'),
      linear-gradient(
        to bottom,
        #84a178 664px,
        #fcfcfc 664px,
        #fcfcfc 1551px,
        #84a178 1551px,
        #84a178 2804px,
        #fcfcfc 2804px,
        #fcfcfc 3724px,
        #84a178 3724px
      );
    background-repeat: no-repeat;
    background-size: 100% 920px, 100% 100%;
    background-position: top 2804px left 0, 0 0;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/background/bigger/second-big-desktop-bg@2x-min.png'),
        linear-gradient(
          to bottom,
          #84a178 664px,
          #fcfcfc 664px,
          #fcfcfc 1551px,
          #84a178 1551px,
          #84a178 2804px,
          #fcfcfc 2804px,
          #fcfcfc 3724px,
          #84a178 3724px
        );
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('../images/background/bigger/second-big-desktop-bg@3x-min.png'),
        linear-gradient(
          to bottom,
          #84a178 664px,
          #fcfcfc 664px,
          #fcfcfc 1551px,
          #84a178 1551px,
          #84a178 2804px,
          #fcfcfc 2804px,
          #fcfcfc 3724px,
          #84a178 3724px
        );
    }
  }

  &.modal.active {
    height: 100vh;
    overflow-y: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: url(../images/сursor.svg), pointer;

  &:focus {
    outline: none;
  }
}

button {
  display: block;
  margin: 0 auto;
  cursor: url(../images/сursor.svg), pointer;
  border: none;
  border-radius: 10px;

  &:focus {
    outline: none;
  }
}

address {
  font-style: normal;
}

label {
  cursor: url(../images/сursor.svg), pointer;
}

summary {
  &:focus {
    outline: none;
  }
}
