.modal {
  padding-left: 28px;
  padding-right: 28px;

  height: 500px;
  overflow-y: auto;

  @include media(min, tablet) {
    padding-left: 54px;
    padding-right: 54px;
  }
}
.modal__btn {
  top: 8px;
  right: 8px;
  // color: #000000;

  // @include animation(color);

  @include media(min, tablet) {
    top: 20px;
    right: 20px;
  }

  // &:hover,
  // &:focus {
  //   color: var(--button-green);
  // }
}

.order-form {
  margin-bottom: 24px;

  @include media(min, tablet) {
    margin-bottom: 32px;
  }

  &__title {
    margin-bottom: 84px;
    text-align: center;
    font-family: var(--heading-font);
    @include font-size(16px, 24px);

    @include media(min, tablet) {
      margin-bottom: 103px;
      font-size: 20px;
      @include font-size(20px, 28px);
    }
  }
}

.checkbox {
  margin-bottom: 24px;

  @include media(min, tablet) {
    margin-bottom: 40px;
    @include flex(32px);
  }

  &__item {
    position: relative;

    @media screen and (max-width: 767.5px) {
      &:not(:last-child) {
        margin-bottom: 84px;
      }
    }

    &::before {
      @include position(absolute, top, 50%, left, 50%);

      transform: translate(-50%, -130px);

      display: block;
      @include pseudo(132px, 132px);
      @extend %centred;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom 8px left 0, top 0 left 0;
    }
    &--green::before {
      background-color: #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
      background-image: url('../images/products/products-1-min.png'),
        linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        );
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/products/products-1@2x-min.png'),
          linear-gradient(
            0deg,
            rgba(156, 190, 143, 0.7),
            rgba(156, 190, 143, 0.7)
          );
      }
      @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: url('../images/products/products-1@3x-min.png'),
          linear-gradient(
            0deg,
            rgba(156, 190, 143, 0.7),
            rgba(156, 190, 143, 0.7)
          );
      }
      //   @include bg-picture(products, products-1, png);
    }
    &--yellow::before {
      background-color: #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
      background-image: url('../images/products/products-2-min.png'),
        linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/products/products-2@2x-min.png'),
          linear-gradient(
            0deg,
            rgba(248, 210, 78, 0.7),
            rgba(248, 210, 78, 0.7)
          );
      }
      @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: url('../images/products/products-2@3x-min.png'),
          linear-gradient(
            0deg,
            rgba(248, 210, 78, 0.7),
            rgba(248, 210, 78, 0.7)
          );
      }
    }
    &--brown::before {
      background-color: #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
      background-image: url('../images/products/products-3-min.png'),
        linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/products/products-3@2x-min.png'),
          linear-gradient(
            0deg,
            rgba(213, 117, 63, 0.7),
            rgba(213, 117, 63, 0.7)
          );
      }
      @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: url('../images/products/products-3@3x-min.png'),
          linear-gradient(
            0deg,
            rgba(213, 117, 63, 0.7),
            rgba(213, 117, 63, 0.7)
          );
      }
    }
  }

  &__input {
    @extend %visually-hidden;

    &--green:focus + .checkbox__field--green {
      border: 4px solid #96af8c;
    }
    &--yellow:focus + .checkbox__field--yellow {
      border: 4px solid #efd478;
    }
    &--brown:focus + .checkbox__field--brown {
      border: 4px solid #d6936d;
    }
    &--green:checked + .checkbox__field--green {
      background: #84a278;
    }
    &--yellow:checked + .checkbox__field--yellow {
      background: #efd478;
    }
    &--brown:checked + .checkbox__field--brown {
      background: #d69368;
    }
  }

  &__field {
    height: 135px;

    display: block;
    width: 132px;
    @extend %centred;
    padding: 96px 1px 20px 1px;

    font-weight: 700;
    font-size: 16px;
    @include font-size(16px, 20px);
    text-align: center;
    text-transform: uppercase;

    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    border-radius: 15.7808px;
    background: transparent;

    @include animation(background);

    &--green {
      border: 2px solid #96af8c;

      @include animation(border);

      &:hover {
        border-width: 4px;
      }
    }

    &--yellow {
      border: 2px solid #efd478;

      @include animation(border);

      &:hover {
        border-width: 4px;
      }
    }

    &--brown {
      border: 2px solid #d6936d;

      @include animation(border);

      &:hover {
        border-width: 4px;
      }
    }
  }
}

.order-form__field {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;

  @include media(min, tablet) {
    gap: 16px;
  }
}

.form-field {
  position: relative;
  margin-top: 4px;

  @include media(min, tablet) {
    width: 368px;
    margin-left: auto;
    margin-right: auto;
  }

  &__lable {
    @include position(absolute, top, 8px, left, 12px);

    font-size: 12px;
    @include font-size(12px, 17px);

    @include media(min, tablet) {
      left: 16px;
      top: 11px;
      font-size: 14px;
      @include font-size(14px, 20px);
    }
  }

  &__input,
  &__comment {
    resize: none;
    width: 100%;
    height: 32px;

    padding: 8px 12px 7px 12px;

    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    outline: transparent;

    @include media(min, tablet) {
      width: 368px;
      height: 42px;
      padding: 11px 16px 11px 16px;
    }

    @include animation-m(transform, border);

    &::placeholder {
      opacity: 0;

      @include animation(opacity);
    }

    &:focus::placeholder {
      opacity: 1;
    }
  }

  &__input:not(:placeholder-shown):required:invalid {
    border-color: #dc143c;
  }
  &__comment {
    min-height: 84px;
  }

  &__input:focus + .form-field__lable,
  &__comment:focus + .form-field__lable,
  &__input:not(:placeholder-shown) + .form-field__lable,
  &__comment:not(:placeholder-shown) + .form-field__lable {
    transform: translate(-6px, -22px);

    @include media(min, tablet) {
      transform: translate(-10px, -27px);
    }
  }

  &__input:hover,
  &__comment:hover {
    border: 3px solid #84a178;
  }

  &__input:focus,
  &__comment:focus {
    border: 3px solid #84a178;
  }
}
