<!-- Оверлей, модальне вікно, кнопка закриття і кнопка відправки для модалки -->
<div class="modal" data-modal="3">
  <div class="modal__animation">
    <button
      class="modal__btn js-modal-close"
      type="button"
      aria-label="close form"
    >
      <svg class="modal__icon">
        <use href="./images/symbol-defs.svg#close"></use>
      </svg>
    </button>

    <!-- Писати начинку модалки після цієї строки -->
    <h3 class="modal__title">How it&rsquo;s made?</h3>

    <iframe
      class="modal__video"
      src="https://www.youtube.com/embed/bTluLyGTG3w"
      title="How it&rsquo;s made?"
    ></iframe>
    <p class="modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
    <!-- Закінчення начинки модалки -->
  </div>
</div>
