<!-- Оверлей, модальне вікно, кнопка закриття і кнопка відправки для модалки -->
<div class="overlay js-overlay-modal">
  <div class="modal" data-modal="1">
    <div class="modal__animation">
      <button
        class="modal__btn js-modal-close"
        type="button"
        aria-label="close form"
      >
        <svg class="modal__icon">
          <use href="./images/symbol-defs.svg#close"></use>
        </svg>
      </button>

      <!-- Писати начинку модалки після цієї строки -->

      <form class="order-form" name="order-form">
        <p class="order-form__title">Buy now</p>

        <ul class="checkbox">
          <li class="checkbox__item checkbox__item--green">
            <input
              class="checkbox__input checkbox__input--green"
              type="checkbox"
              name="order"
              value="ice cream"
              id="ice-cream"
            />
            <label
              class="checkbox__field checkbox__field--green"
              for="ice-cream"
            >
              Ice cream
            </label>
          </li>

          <li class="checkbox__item checkbox__item--yellow">
            <input
              class="checkbox__input checkbox__input--yellow"
              type="checkbox"
              name="order"
              value="ice coffee"
              id="coffee"
            />
            <label class="checkbox__field checkbox__field--yellow" for="coffee">
              Ice coffee
            </label>
          </li>

          <li class="checkbox__item checkbox__item--brown">
            <input
              class="checkbox__input checkbox__input--brown"
              type="checkbox"
              name="order"
              value="milkshake"
              id="milkshake"
            />
            <label
              class="checkbox__field checkbox__field--brown"
              for="milkshake"
            >
              Milkshake
            </label>
          </li>
        </ul>

        <div class="order-form__field">
          <label class="form-field">
            <input
              class="form-field__input"
              type="text"
              name="username"
              required
              pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
              title="Username must be two words separated by space."
              placeholder="John Doe"
            />
            <span class="form-field__lable">Name</span>
          </label>
          <label class="form-field">
            <input
              class="form-field__input"
              type="tel"
              name="phone-number"
              required
              pattern="[+][0-9]{2}-[0-9]{3}-[0-9]{3}-[0-9]{4}"
              title="Enter your phone number (format: +61-123-456-7890)."
              placeholder="+61-123-456-7890"
            />
            <span class="form-field__lable">Phone</span>
          </label>
          <label class="form-field">
            <textarea
              class="form-field__comment"
              name="comment"
              rows="3"
              placeholder=" "
            ></textarea>
            <span class="form-field__lable">Comment</span>
          </label>
        </div>
      </form>

      <!-- Закінчення начинки модалки -->

      <button class="submit__btn" type="submit">Submit</button>
    </div>
  </div>
</div>
