<!-- Оверлей, модальне вікно, кнопка закриття і кнопка відправки для модалки -->
<div class="modal" data-modal="4">
  <div class="modal__animation">
    <button
      class="modal__btn js-modal-close"
      type="button"
      aria-label="close form"
    >
      <svg class="modal__icon">
        <use href="./images/symbol-defs.svg#close"></use>
      </svg>
    </button>

    <!-- Писати начинку модалки після цієї строки -->

    <p class="location__text">Our Locations</p>
    <picture>
      <!-- Phone -->
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/location/webp/map-mobile-min.webp    1x,
          ./images/location/webp/map-mobile@2x-min.webp 2x,
          ./images/location/webp/map-mobile@3x-min.webp 3x
        "
        type="image/webp"
      />
      <source
        media="(max-width:767px)"
        srcset="
          ./images/location/jpg/map-mobile-min.jpg    1x,
          ./images/location/jpg/map-mobile@2x-min.jpg 2x,
          ./images/location/jpg/map-mobile@3x-min.jpg 3x
        "
        type="image/jpeg"
      />
      <!-- Tablet and desktop -->
      <source
        media="(min-width:768px)"
        srcset="
          ./images/location/webp/map-tablet-min.webp    1x,
          ./images/location/webp/map-tablet@2x-min.webp 2x,
          ./images/location/webp/map-tablet@3x-min.webp 3x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/location/jpg/map-tablet-min.jpg    1x,
          ./images/location/jpg/map-tablet@2x-min.jpg 2x,
          ./images/location/jpg/map-tablet@3x-min.jpg 3x
        "
        type="image/jpeg"
      />

      <img
        class="location__img"
        src="./images/location/jpg/map-mobile-min.jpg"
        alt="location map"
      />
    </picture>

    <a
      class="location__modal-link"
      href="https://www.google.com.ua/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+США/@41.7034056,-87.7819292,17z"
      rel="noreferrer noopener nofollow"
      target="_blank"
      >Open Map</a
    >
    <!-- Закінчення начинки модалки -->
  </div>
</div>
