<!-- Оверлей, модальне вікно, кнопка закриття і кнопка відправки для модалки -->
<div class="modal" data-modal="4">
  <div class="modal__animation">
    <button
      class="modal__btn js-modal-close"
      type="button"
      aria-label="close form"
    >
      <svg class="modal__icon">
        <use href="./images/symbol-defs.svg#close"></use>
      </svg>
    </button>

    <!-- Писати начинку модалки після цієї строки -->

    <p class="location__text">Our Locations</p>
    <img
      class="location__img"
      src="/src/images/location/jpg/map-tablet-min.jpg"
      alt="location"
    />
    <button class="location__btn" type="submit">Open Map</button>
    <!-- Закінчення начинки модалки -->
  </div>
</div>
