<section class="advantages">
  <div class="advantages__container">
    <h2 class="advantages__title">Advantages</h2>
    <ul class="advantages__all">
      <li class="advantages__item advantages__item--cow">
        <p class="advantages__headline">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item advantages__item--weight">
        <p class="advantages__headline">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item advantages__item--ice-crema">
        <p class="advantages__headline">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
