<section class="contacts" id="contacts">
  <div class="contacts__container">
    <h2 class="contacts__title">Contacts</h2>
    <ul class="cards">
      <li class="card">
        <p class="card__title">CAFE</p>
        <p class="card__subtitle">Chicago</p>
        <address class="card__address">
          <a
            class="card__link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://goo.gl/maps/XHNjx2T4j8ti6oYz7"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <div class="card__block">
          <p class="card__desk">Monday - Friday</p>
          <p class="card__time">
            <time>06:00</time> AM - <time>10:00</time> PM
          </p>
          <p class="card__desk">Saturday - Sunday</p>
          <p class="card__time">
            <time>08:00</time> AM - <time>16:00</time> PM
          </p>
        </div>
        <a class="card__contact" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="card__contact" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="card">
        <p class="card__title size">FOOD TRUCK</p>
        <p class="card__subtitle">Los Angeles</p>
        <address class="card__address">
          <a
            class="card__link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://goo.gl/maps/LcBaky172AWwedmH6"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
        <div class="card__block">
          <p class="card__desk">Monday - Friday</p>
          <p class="card__time">
            <time>06:00</time> AM - <time>10:00</time> PM
          </p>
          <p class="card__desk">Saturday - Sunday</p>
          <p class="card__time">
            <time>08:00</time> AM - <time>16:00</time> PM
          </p>
        </div>
        <a class="card__contact" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="card__contact" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="card">
        <p class="card__title">CAFE</p>
        <p class="card__subtitle">New York</p>
        <address class="card__address">
          <a
            class="card__link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://goo.gl/maps/yUEyDCUNCztJEPL79"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>
        <div class="card__block">
          <p class="card__desk">Monday - Friday</p>
          <p class="card__time">
            <time>06:00</time> AM - <time>10:00</time> PM
          </p>
          <p class="card__desk">Saturday - Sunday</p>
          <p class="card__time">
            <time>08:00</time> AM - <time>16:00</time> PM
          </p>
        </div>
        <a class="card__contact" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="card__contact" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>

    <!-- Кнопка виклику модалки з картою -->
    <div class="btn-group">
      <button class="location__btn js-open-modal" type="button" data-modal="4">
        Our Locations
      </button>

      <!-- Кнопка виклику модалки з франшизами-->
      <button class="franchise__btn js-open-modal" type="button" data-modal="5">
        Franchise
      </button>
    </div>
  </div>
</section>
