<section class="gallery">
  <div class="gallery__container">
    <h2 class="gallery__title">Gallery</h2>
    <div class="gallery__box">
      <!-- <div class="gallery__list"> -->
      <picture class="gallery__picture">
        <source
          srcset="
            ./images/gallery/webp/gallery-1-min.webp    1x,
            ./images/gallery/webp/gallery-1@2x-min.webp 2x,
            ./images/gallery/webp/gallery-1@3x-min.webp 3x
          "
          type="images/webp"
        />
        <source
          srcset="
            ./images/gallery/jpg/gallery-1-min.jpg    1x,
            ./images/gallery/jpg/gallery-1@2x-min.jpg 2x,
            ./images/gallery/jpg/gallery-1@3x-min.jpg 3x
          "
          type="images/jpg"
        />
        <img
          class="gallery__img"
          src="./images/gallery/jpg/gallery-1-min.jpg"
          alt="waffle cones with different types of ice cream decorated with
        blackberries"
        />
      </picture>
      <picture class="gallery__picture">
        <source
          srcset="
            ./images/gallery/webp/gallery-2-min.webp    1x,
            ./images/gallery/webp/gallery-2@2x-min.webp 2x,
            ./images/gallery/webp/gallery-2@3x-min.webp 3x
          "
          type="images/webp"
        />
        <source
          srcset="
            ./images/gallery/jpg/gallery-2-min.jpg    1x,
            ./images/gallery/jpg/gallery-2@2x-min.jpg 2x,
            ./images/gallery/jpg/gallery-2@3x-min.jpg 3x
          "
          type="images/jpg"
        />
        <img
          class="gallery__img"
          src="./images/gallery/jpg/gallery-2-min.jpg"
          alt="different types of ice cream in five waffle cones with decoration"
        />
      </picture>
      <picture class="gallery__picture">
        <source
          srcset="
            ./images/gallery/webp/gallery-3-min.webp    1x,
            ./images/gallery/webp/gallery-3@2x-min.webp 2x,
            ./images/gallery/webp/gallery-3@3x-min.webp 3x
          "
          type="images/webp"
        />
        <source
          srcset="
            ./images/gallery/jpg/gallery-3-min.jpg    1x,
            ./images/gallery/jpg/gallery-3@2x-min.jpg 2x,
            ./images/gallery/jpg/gallery-3@3x-min.jpg 3x
          "
          type="images/jpg"
        />
        <img
          class="gallery__img"
          src="./images/gallery/jpg/gallery-3-min.jpg"
          alt="six waffle cones with pink and white ice cream decorated with strawberries and flowers"
        />
      </picture>
      <picture class="gallery__picture">
        <source
          srcset="
            ./images/gallery/webp/gallery-4-min.webp    1x,
            ./images/gallery/webp/gallery-4@2x-min.webp 2x,
            ./images/gallery/webp/gallery-4@3x-min.webp 3x
          "
          type="images/webp"
        />
        <source
          srcset="
            ./images/gallery/jpg/gallery-4-min.jpg    1x,
            ./images/gallery/jpg/gallery-4@2x-min.jpg 2x,
            ./images/gallery/jpg/gallery-4@3x-min.jpg 3x
          "
          type="images/jpg"
        />
        <img
          class="gallery__img"
          src="./images/gallery/jpg/gallery-4-min.jpg"
          alt="six waffle cones with different types of colorful ice cream decorated with nuts, berries and leaves"
        />
      </picture>
      <picture class="gallery__picture">
        <source
          srcset="
            ./images/gallery/webp/gallery-5-min.webp    1x,
            ./images/gallery/webp/gallery-5@2x-min.webp 2x,
            ./images/gallery/webp/gallery-5@3x-min.webp 3x
          "
          type="images/webp"
        />
        <source
          srcset="
            ./images/gallery/jpg/gallery-5-min.jpg    1x,
            ./images/gallery/jpg/gallery-5@2x-min.jpg 2x,
            ./images/gallery/jpg/gallery-5@3x-min.jpg 3x
          "
          type="images/jpg"
        />
        <img
          class="gallery__img"
          src="./images/gallery/jpg/gallery-5-min.jpg"
          alt="four different types of ice cream in waffle cones"
        />
      </picture>
      <!-- </div> -->
    </div>
  </div>
</section>
