<section class="gallery">Gallery
    <div class="gallery__box">
        <div class="gallery__list">
            <picture>
                <source
                    srcset="./images/gallery/webp/gallery-1-min.webp 1x, ./images/gallery/webp/gallery-1@2x-min.webp 2x, ./images/gallery/webp/gallery-1@3x-min.webp 3x"
                    type="images/webp">
                <source
                    srcset="./images/gallery/jpg/gallery-1-min.jpg 1x, ./images/gallery/jpg/gallery-1@2x-min.jpg 2x, ./images/gallery/jpg/gallery-1@3x-min.jpg 3x"
                    type="images/jpg">
                <!-- tablet -->
                <source
                    srcset="./images/gallery/webp/gallery-1-min.webp 1x, ./images/gallery/webp/gallery-1@2x-min.webp 2x, ./images/gallery/webp/gallery-1@3x-min.webp 3x"
                    type="images/webp">
                <source
                    srcset="./images/gallery/jpg/gallery-1-min.jpg 1x, ./images/gallery/jpg/gallery-1@2x-min.jpg 2x, ./images/gallery/jpg/gallery-1@3x-min.jpg 3x"
                    type="images/jpg">
                <!-- Mobile -->
                <source
                    srcset="./images/gallery/webp/gallery-1-min.webp 1x, ./images/gallery/webp/gallery-1@2x-min.webp 2x, ./images/gallery/webp/gallery-2@3x-min.webp 3x"
                    type="images/webp">
                <source
                    srcset="./images/gallery/jpg/gallery-1-min.jpg 1x, ./images/gallery/jpg/gallery-1@2x-min.jpg 2x, ./images/gallery/jpg/gallery-1@3x-min.jpg 3x"
                    type="images/jpg">
                <img class="gallery__img" src="/src/images/gallery/jpg/gallery-1-min.jpg" alt="gallery-1">
            </picture>
            <picture>
                <source
                    srcset="./images/gallery/webp/gallery-2-min.webp 1x, ./images/gallery/webp/gallery-2@2x-min.webp 2x, ./images/gallery/webp/gallery-2@3x-min.webp 3x"
                    type="images/webp">
                <source
                    srcset="./images/gallery/jpg/gallery-2-min.jpg 1x, ./images/gallery/jpg/gallery-2@2x-min.jpg 2x, ./images/gallery/jpg/gallery-2@3x-min.jpg 3x"
                    type="images/jpg">
                <!-- tablet -->
                <source
                    srcset="./images/gallery/webp/gallery-2-min.webp 1x, ./images/gallery/webp/gallery-2@2x-min.webp 2x, ./images/gallery/webp/gallery-2@3x-min.webp 3x"
                    type="images/webp">
                <source
                    srcset="./images/gallery/jpg/gallery-2-min.jpg 1x, ./images/gallery/jpg/gallery-2@2x-min.jpg 2x, ./images/gallery/jpg/gallery-2@3x-min.jpg 3x"
                    type="images/jpg">
                <!-- Mobile -->
                <source
                    srcset="./images/gallery/webp/gallery-2-min.webp 1x, ./images/gallery/webp/gallery-2@2x-min.webp 2x, ./images/gallery/webp/gallery-2@3x-min.webp 3x"
                    type="images/webp">
                <source
                    srcset="./images/gallery/jpg/gallery-2-min.jpg 1x, ./images/gallery/jpg/gallery-2@2x-min.jpg 2x, ./images/gallery/jpg/gallery-2@3x-min.jpg 3x"
                    type="images/jpg">
                <img class="gallery__img" src="/src/images/gallery/jpg/gallery-2-min.jpg" alt="gallery-2">
            </picture>
            <picture>
                <source
                    srcset="./images/gallery/webp/gallery-3-min.webp 1x, ./images/gallery/webp/gallery-3@2x-min.webp 2x, ./images/gallery/webp/gallery-3@3x-min.webp 3x"
                    type="images/webp">
                <source
                    srcset="./images/gallery/jpg/gallery-3-min.jpg 1x, ./images/gallery/jpg/gallery-3@2x-min.jpg 2x, ./images/gallery/jpg/gallery-3@3x-min.jpg 3x"
                    type="images/jpg">
                <!-- tablet -->
                <source
                    srcset="./images/gallery/webp/gallery-3-min.webp 1x, ./images/gallery/webp/gallery-3@2x-min.webp 2x, ./images/gallery/webp/gallery-3@3x-min.webp 3x"
                    type="images/webp">
                <source
                    srcset="./images/gallery/jpg/gallery-3-min.jpg 1x, ./images/gallery/jpg/gallery-3@2x-min.jpg 2x, ./images/gallery/jpg/gallery-3@3x-min.jpg 3x"
                    type="images/jpg">
                <!-- Mobile -->
                <source
                    srcset="./images/gallery/webp/gallery-3-min.webp 1x, ./images/gallery/webp/gallery-3@2x-min.webp 2x, ./images/gallery/webp/gallery-3@3x-min.webp 3x"
                    type="images/webp">
                <source
                    srcset="./images/gallery/jpg/gallery-3-min.jpg 1x, ./images/gallery/jpg/gallery-3@2x-min.jpg 2x, ./images/gallery/jpg/gallery-3@3x-min.jpg 3x"
                    type="images/jpg">
                <img class="gallery__img" src="/src/images/gallery/jpg/gallery-3-min.jpg" alt="gallery-3">
            </picture>
            <picture>
                <source
                    srcset="./images/gallery/webp/gallery-4-min.webp 1x, ./images/gallery/webp/gallery-4@2x-min.webp 2x, ./images/gallery/webp/gallery-4@3x-min.webp 3x"
                    type="images/webp">
                <source
                    srcset="./images/gallery/jpg/gallery-4-min.jpg 1x, ./images/gallery/jpg/gallery-4@2x-min.jpg 2x, ./images/gallery/jpg/gallery-4@3x-min.jpg 3x"
                    type="images/jpg">
                <!-- tablet -->
                <source
                    srcset="./images/gallery/webp/gallery-4-min.webp 1x, ./images/gallery/webp/gallery-4@2x-min.webp 2x, ./images/gallery/webp/gallery-4@3x-min.webp 3x"
                    type="images/webp">
                <source
                    srcset="./images/gallery/jpg/gallery-4-min.jpg 1x, ./images/gallery/jpg/gallery-4@2x-min.jpg 2x, ./images/gallery/jpg/gallery-4@3x-min.jpg 3x"
                    type="images/jpg">
                <!-- Mobile -->
                <source
                    srcset="./images/gallery/webp/gallery-4-min.webp 1x, ./images/gallery/webp/gallery-4@2x-min.webp 2x, ./images/gallery/webp/gallery-4@3x-min.webp 3x"
                    type="images/webp">
                <source
                    srcset="./images/gallery/jpg/gallery-4-min.jpg 1x, ./images/gallery/jpg/gallery-4@2x-min.jpg 2x, ./images/gallery/jpg/gallery-4@3x-min.jpg 3x"
                    type="images/jpg">
                <img class="gallery__img" src="/src/images/gallery/jpg/gallery-4-min.jpg" alt="gallery-4">
            </picture>
            <picture>
                <source
                    srcset="./images/gallery/webp/gallery-5-min.webp 1x, ./images/gallery/webp/gallery-5@2x-min.webp 2x, ./images/gallery/webp/gallery-5@3x-min.webp 3x"
                    type="images/webp">
                <source
                    srcset="./images/gallery/jpg/gallery-5-min.jpg 1x, ./images/gallery/jpg/gallery-5@2x-min.jpg 2x, ./images/gallery/jpg/gallery-5@3x-min.jpg 3x"
                    type="images/jpg">
                <!-- tablet -->
                <source
                    srcset="./images/gallery/webp/gallery-5-min.webp 1x, ./images/gallery/webp/gallery-5@2x-min.webp 2x, ./images/gallery/webp/gallery-5@3x-min.webp 3x"
                    type="images/webp">
                <source
                    srcset="./images/gallery/jpg/gallery-5-min.jpg 1x, ./images/gallery/jpg/gallery-5@2x-min.jpg 2x, ./images/gallery/jpg/gallery-5@3x-min.jpg 3x"
                    type="images/jpg">
                <!-- Mobile -->
                <source
                    srcset="./images/gallery/webp/gallery-4-min.webp 1x, ./images/gallery/webp/gallery-5@2x-min.webp 2x, ./images/gallery/webp/gallery-5@3x-min.webp 3x"
                    type="images/webp">
                <source
                    srcset="./images/gallery/jpg/gallery-5-min.jpg 1x, ./images/gallery/jpg/gallery-5@2x-min.jpg 2x, ./images/gallery/jpg/gallery-5@3x-min.jpg 3x"
                    type="images/jpg">
                <img class="gallery__img" src="/src/images/gallery/jpg/gallery-4-min.jpg" alt="gallery-5">
            </picture>
        </div>
    </div>
</section>


<!-- Tablet screen -->
<!-- <source media="(min-width: 768px)"
                                srcset="./images/team/photo-team-01_md-@1x.webp 1x, ./images/team/photo-team-01_md-@2x.webp 2x"
                                type="image/webp">
                            <source media="(min-width: 768px)"
                                srcset="./images/team/photo-team-01_md-@1x.jpg 1x, ./images/team/photo-team-01_md-@2x.jpg 2x"
                                type="image/jpg"> -->
<!-- Mobile screen -->
<!-- <source media="(max-width: 767px)"
                                srcset="./images/team/photo-team-01_sm-@1x.webp 1x, ./images/team/photo-team-01_sm-@2x.webp 2x"
                                type="image/webp">
                            <source media="(max-width: 767px)"
                                srcset="./images/team/photo-team-01_sm-@1x.jpg 1x, ./images/team/photo-team-01_sm-@2x.jpg 2x"
                                type="image/jpg"> -->D