<header class="header" id="home">
  <div class="header__container">
    <nav class="nav__site">
      <a class="logo__link heartbeat" href="#">
        <picture>
          <source
            srcset="
              ./images/logo/logo-min.png    1x,
              ./images/logo/logo-min@2x.png 2x,
              ./images/logo/logo-min@3x.png 3x
            "
            type="image/png"
          />
          <img src="./images/logo/logo-min.png" alt="" />
        </picture>
      </a>

      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./index.html#about"
            >How it&rsquo;s made?</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./index.html#products">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./index.html#contacts">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Кнопка виклику меню -->
  <button
    class="menu-btn js-open-menu is-open"
    type="button"
    aria-expanded="false"
  >
    <svg class="menu__item" width="32" height="32">
      <use href="/src/images/symbol-defs.svg#modal-open"></use>
    </svg>
  </button>
  <!-- Кнопка виклику модалки -->
  <button
    class="header__btn header__btn-mobile js-open-modal"
    type="button"
    data-modal="1"
  >
    Buy now
  </button>
</header>

<div class="menu__container js-menu-container">
  <a class="menu__link-logo logo heartbeat" href="#">
    <picture>
      <source
        srcset="
          ./images/logo/logo-min.png    1x,
          ./images/logo/logo-min@2x.png 2x,
          ./images/logo/logo-min@3x.png 3x
        "
        type="image/png"
      />
      <img class="menu__logo" src="./images/logo/logo-min.png" alt="logo" />
    </picture>
  </a>
  <button class="menu__close-btn js-close-menu" type="button">
    <svg width="32" height="32">
      <use href="/src/images/symbol-defs.svg#modal-close"></use>
    </svg>
  </button>
  <ul class="menu__list">
    <li class="menu__item">
      <a class="menu__link" href="./index.html">Home</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="./index.html#about">How it&rsquo;s made?</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="./index.html#products">Our products</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="./index.html#contacts">Contact</a>
    </li>
  </ul>
  <!-- Кнопка виклику модалки -->
  <button
    class="header__btn header__btn-menu js-open-modal"
    type="button"
    data-modal="1"
  >
    Buy now
  </button>
</div>
