<section class="hero">
  <div class="hero__container">
    <div class="hero__block-title">
     <div class = "hero__block-title-left"> 
    <h1 class="hero__title">ice cream <br />made with <br /><span class="hero__title_passion">passion</span> </h1>
       <div class="hero__block_links">
          <a class ="hero__block_link_id hero__button" href="index.html#products">Products</a>
          <a class ="hero__block_link_id hero__link" href="index.html#about">How it&#700s made?</a>
      </div>
    </div>
    <div class = "hero__block-title-right"> 
      <p class="hero__decoration__number">16</p>
      <p class="hero__decoration__text">cafes</p>
      <p class="hero__decoration__number  hero__decoration__number--position">23</p>
      <p class="hero__decoration__text hero__decoration__text--position">food trucks</p> 
    </div>
    </div>
  
    <div class="hero__plate"></div>
      <p class="hero__img_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      <details class="hero__img_details">
        <summary class="hero__img_summary">
          <svg class="hero__img_icon" width="40" >
            <use href="./images/symbol-defs.svg#arrow"></use>
          </svg>
        </summary>
        <p class="hero__img_text_details">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, modi. Sunt porro sapiente quis asperiores
        eaque aperiam deserunt saepe voluptas repudiandae praesentium inventore maiores iste quidem ea, cum fuga quasi!
      </p>      
      </details> 
     <div class="hero__ice-cream"><source
              srcset="
                ./images/hero/ice-cream-desktop-min.png    1x,
                ./images/hero/ice-cream-desktop@2x-min.png 2x,
                ./images/hero/ice-cream-desktop@3x-min.png 3x
              "
              type="image/png"
            />
            <img
              src="./images/hero/ice-cream-desktop-min.png"
              alt="ice-cream"
            /></div> 
     <div class="hero__ribbon"></div>    
 </section>