<section class="hero">
  <div class="hero__container">
    <div class="hero__block">
     <div class = "hero__block-left"> 
    <h1 class="hero__title">ice cream <br />made with <br /><span class="hero__title--bigger">passion</span> </h1>
    <ul class="hero__links">
      <li><a class ="hero__link hero__link--products" href="./index.html#products">Products</a></li>
      <li><a class ="hero__link hero__link--about" href="./index.html#about">How it&rsquo;s made?</a></li>
    </ul>  
    </div>
    <ul class = "hero__block-right">
  <li class = "hero__block-right-item">
     <p class="hero__number">16</p>
      <p class="hero__under-number">cafes</p>
  </li>
  <li class = "hero__block-right-item">
     <p class="hero__number">23</p>
      <p class="hero__under-number">food trucks</p> 
   
  </li>
</ul>
</div>
  
    <div class="hero__decor">
        <div class="hero__decor--plate">
        </div>
        <div class="hero__thumb">
          <p class="hero__thumb-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          
      <details class="hero__details">
        <summary class="hero__summary">
          <svg class="hero__summary-icon">
              <use
                class="hero__summary-svg"
                href="./images/symbol-defs.svg#arrow"
              ></use>
              <use
                class="hero__summary-svg"
                href="./images/symbol-defs.svg#fat-arrow"
              ></use>
          </svg>
        </summary>
        <span class="hero__details-text">Press this arrow once more and I will find you!</span>
      </details>
      </div>
    </div>
     <div class="hero__decor--icecream animate__animated animate__heartBeat"></div> 
     <div class="hero__decor--ribbon"></div>    
 </section>
