.footer {
  @media screen and(min-width: 320px) {
    padding-top: 20px;
    padding-bottom: 65px;
  }
  @include media(min, phone) {
    padding-top: 20px;
    padding-bottom: 65px;
  }
  @include media(min, tablet) {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  @include media(min, desktop) {
    padding-top: 60px;
    padding-bottom: 15px;
  }
  &::before {
    content: '';
    height: 2px;
    display: block;
    background-color: rgba(225, 225, 225, 1);
    position: relative;
    @extend %centred;

    @media screen and(min-width: 320px) {
      top: 340px;
      max-width: 100%;
    }
    @include media(min, phone) {
      top: 340px;
      max-width: 100%;
    }

    @include media(min, tablet) {
      top: 260px;
      width: 100%;
    }

    @include media(min, desktop) {
      top: 200px;
      width: 1170px;
    }
  }
}

.footer__container {
  @extend %container;
}

.footer__firstwrap {
  @include media(min, phone) {
    display: block;
    margin-bottom: 66px;
  }
  @include media(min, tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  @include media(min, desktop) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 66px;
  }
}

.footer__title {
  font-style: normal;
  color: var(--text-white);
  letter-spacing: 0.04em;

  &:hover {
    animation: gelatine 2s infinite;

    @keyframes gelatine {
      from,
      to {
        transform: scale(1, 1);
      }

      25% {
        transform: scale(0.9, 1.1);
      }

      50% {
        transform: scale(1.1, 0.9);
      }

      75% {
        transform: scale(0.95, 1.05);
      }
    }
  }

  @media screen and(min-width: 320px) {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    width: 270px;
  }
  @include media(min, phone) {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    width: 270px;
  }

  @include media(min, tablet) {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
    width: 400px;
  }

  @include media(min, desktop) {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
    width: 650px;
  }
}

.footer__aftertitle {
  display: block;
  font-style: normal;
  font-weight: 700;
  @media screen and(min-width: 320px) {
    font-size: 34px;
    line-height: 1.38;
    letter-spacing: 0.04em;
    margin-top: 20px;
    width: 234px;
  }
  @include media(min, phone) {
    font-size: 34px;
    line-height: 1.38;
    letter-spacing: 0.04em;
    margin-top: 20px;
  }
  @include media(min, tablet) {
    font-size: 48px;
    line-height: 1.23;
    letter-spacing: 0.06em;
    margin-top: 15px;
  }

  @include media(min, desktop) {
    font-size: 58px;
    line-height: 1.22;
    letter-spacing: 0.06em;
    margin-top: 15px;
    width: 580px;
  }
}

.footer__list {
  @include flex(30px, $x: end, $y: center);

  @media screen and(min-width: 320px) {
    margin-top: 42px;
    margin-bottom: 40px;
  }

  @include media(min, phone) {
    margin-top: 42px;
    margin-bottom: 40px;
  }

  @include media(min, tablet) {
    margin-top: 95px;
    margin-bottom: 35px;
  }

  @include media(min, desktop) {
    margin-top: 0;
    margin-bottom: 45px;
  }
}

.footer__link {
  width: 34px;
  height: 34px;
  background-color: var(--button-yellow);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transform: scale(1);

  @include animation(transform);

  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}

.footer__icon {
  fill: var(--bg-main);
  @include animation(fill);

  .footer__link:hover &,
  .footer__link:focus & {
    fill: #fff;
  }
}

.address {
  @include flex(5px);
  justify-content: end;
  @media screen and(min-width: 320px) {
    margin-bottom: 65px;
  }
}

.address__title {
  color: var(--text-black);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02em;
  &:hover {
    animation: gelatine 2s infinite;

    @keyframes gelatine {
      from,
      to {
        transform: scale(1, 1);
      }

      25% {
        transform: scale(0.9, 1.1);
      }

      50% {
        transform: scale(1.1, 0.9);
      }

      75% {
        transform: scale(0.95, 1.05);
      }
    }
  }
  @media screen and(min-width: 320px) {
    font-size: 12px;
    line-height: 1.55;
    text-align: right;
  }
  @include media(min, phone) {
    font-size: 12px;
    line-height: 1.55;
    text-align: right;
  }
  @include media(min, tablet) {
    font-size: 14px;
    line-height: 1.23;
  }

  @include media(min, desktop) {
    font-size: 16px;
    line-height: 1.16;
  }
}

.address__link {
  color: var(--text-white);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02em;
  &:hover {
    animation: gelatine 2s infinite;

    @keyframes gelatine {
      from,
      to {
        transform: scale(1, 1);
      }

      25% {
        transform: scale(0.9, 1.1);
      }

      50% {
        transform: scale(1.1, 0.9);
      }

      75% {
        transform: scale(0.95, 1.05);
      }
    }
  }
  @include media(min, phone) {
    font-size: 12px;
    line-height: 1.55;
    text-align: right;
  }

  @include media(min, tablet) {
    font-size: 14px;
    line-height: 1.86;
  }

  @include media(min, desktop) {
    font-size: 16px;
    line-height: 1.16;
  }
}

.footer__copyright {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: rgba(122, 122, 122, 1);
  text-align: center;
  @extend %centred;
  @media screen and(min-width: 320px) {
    font-size: 14px;
    line-height: 1.52;
    max-width: 155px;
  }

  @include media(min, phone) {
    font-size: 14px;
    line-height: 1.52;
    max-width: 155px;
  }

  @include media(min, tablet) {
    font-size: 14px;
    line-height: 1.86;
    max-width: 400px;
  }

  @include media(min, desktop) {
    font-size: 12px;
    line-height: 1.86;
    max-width: 400px;
  }
}

// Скролл наверх
.up {
  @include position(fixed, bottom, 5vh, right, 5vw);
  z-index: 5;
  @include flex(0);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--button-yellow);
  opacity: 0.2;
  transition: background-color $animation, filter $animation, opacity $animation;

  &:hover,
  &:focus {
    background-color: var(--button-green);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 1;
  }

  @include media(min, phone) {
    width: 50px;
    height: 50px;
  }

  @include media(min, tablet) {
    width: 70px;
    height: 70px;
  }
}

.up__icon {
  width: 32px;
  height: 32px;
  transform: rotate(270deg);
  color: var(--text-white);
  fill: var(--text-white);

  @include media(min, tablet) {
    width: 50px;
    height: 50px;
  }
}
