.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 280px;
  padding-top: 28px;
  padding-bottom: 28px;

  @include media(min, phone) {
    width: 450px;
  }

  @include media(min, tablet) {
    width: 568px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  background: var(--bg-modal);
  color: var(--text-black);
  border: 2px solid var(--button-yellow);
  border-radius: 10px;
  transition: 0.3s all;

  &.active {
    opacity: 1;
    visibility: visible;
    overflow-y: scroll;
    animation: bondJamesBond 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    @keyframes bondJamesBond {
      0% {
        transform: translateX(1000px);
        width: 100px;
        height: 100px;
        border-radius: 100%;
      }
      70% {
        transform: translateX(0px);
      }

      80% {
        width: 100px;
        height: 100px;
      }

      90% {
        border-radius: 100%;
        width: 100px;
        height: 100px;
      }
      100% {
        border-radius: 10px;
        width: 280px;
        height: auto;
      }
    }

    @include media(min, phone) {
      animation: bondJamesBondPhone 1.5s cubic-bezier(0.165, 0.84, 0.44, 1)
        forwards;
      @keyframes bondJamesBondPhone {
        0% {
          transform: translateX(1000px);
          width: 100px;
          height: 100px;
          border-radius: 100%;
        }
        70% {
          transform: translateX(0px);
        }

        80% {
          width: 100px;
          height: 100px;
        }

        90% {
          border-radius: 100%;
          width: 100px;
          height: 100px;
        }
        100% {
          border-radius: 10px;
          width: 450px;
          height: auto;
        }
      }
    }

    @include media(min, tablet) {
      animation: bondJamesBondTablet 1.5s cubic-bezier(0.165, 0.84, 0.44, 1)
        forwards;
      @keyframes bondJamesBondTablet {
        0% {
          transform: translateX(1000px);
          width: 100px;
          height: 100px;
          border-radius: 100%;
        }
        70% {
          transform: translateX(0px);
        }

        80% {
          width: 100px;
          height: 100px;
        }

        90% {
          border-radius: 100%;
          width: 100px;
          height: 100px;
        }
        100% {
          border-radius: 10px;
          width: 568px;
          height: auto;
        }
      }
    }

    &::-webkit-scrollbar {
      @extend %visually-hidden;
    }
  }
}

.modal__animation {
  .modal.active & {
    animation: modalContent 2s linear forwards;
  }
}

@keyframes modalContent {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text {
  font-size: 30px;
  line-height: 25px;
}

.modal__btn {
  position: absolute;
  top: 20px;
  right: 20px;
  @include flex(null, center, center);
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  border-radius: 0;
  background-color: transparent;
}

.modal__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.submit__btn {
  @extend %submit-button;
}
