.about {
  padding-top: 60px;

  &__container {
    @extend %container;
  }
}

.about__heading {
  @extend %lable;
  @extend %centred;
  font-weight: 700;
  color: var(--button-white);
  margin-bottom: 12px;
}

.about__title {
  @extend %title;
  @extend %centred;
  color: var(--button-white);
  margin-bottom: 32px;
  width: 200px;

  @include media(min, phone) {
    width: 300px;
  }

  @include media(min, tablet) {
    width: 454px;
  }

  @include media(min, desktop) {
    width: 100%;
    margin-bottom: 82px;
  }
}

.about__div {
  @include media(min, tablet) {
    display: flex;
    align-items: center;
  }
}

.about__thumb {
  position: relative;
  width: 278px;
  height: 278px;
  @extend %centred;
  margin-bottom: 61px;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140.182px;

  @include media(min, tablet) {
    width: 334px;
    height: 330px;
    box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
    border-radius: 165.879px;

    margin-left: 0;
  }

  @include media(min, desktop) {
    width: 500px;
    height: 500px;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    border-radius: 250px;
    margin-right: 100px;
  }

  &::after {
    @include pseudo(278px, 278px);
    // @include bg-picture(about, cow, png);
    background-image: url(../images/about/cow-min.png);
    display: block;
    background-size: cover;
    position: absolute;
    top: 21px;

    transform: scale(0.9);
    animation: pulse 5s ease-in-out infinite;

    @include media(min, tablet) {
      @include pseudo(334px, 330px);
      background-image: url(../images/about/cow@2x-min.png);
      top: 25px;
    }

    @include media(min, desktop) {
      @include pseudo(500px, 500px);
      top: 39px;
      background-image: url(../images/about/cow@3x-min.png);
    }
  }
}
/*-----------------------animation cow---------------*/
@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

.about__text {
  font-size: 12px;
  line-height: 162%;

  text-align: center;
  color: #fcfcfc;

  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 3.8px;

  &.second__p {
    margin-bottom: 20px;
  }

  @include media(min, tablet) {
    display: flex;
    width: 336px;
    line-height: 176%;
    text-align: initial;
    margin-bottom: 8px;
    padding: 0;

    &.second__p {
      margin-bottom: 8px;
    }

    &.third__p {
      margin-bottom: 48px;
    }
  }

  @include media(min, desktop) {
    font-size: 16px;
    min-width: 463px;

    .second__p {
      font-size: 14px;
      line-height: 194%;
    }
    .third__p {
      font-size: 14px;
      line-height: 194%;
    }
  }
}

@media screen and(max-width:767.5px) {
  .third__p {
    display: none;
  }
}
/*-----------------------ANIMATION TEXT---------------*/
.div__p {
  transition: 1s;
}
.div__p:hover {
  transform: scale(1.2);
}

.about__btn {
  position: relative;
  @include button-styles(color);

  @media screen and(min-width:768px) {
    margin-left: 0;
  }
}
