.contacts {
  // background-image: linear-gradient(to bottom, #fcfcfc 346px, #84a178 346px);
}

.contacts__container {
  @extend %container;
}

.contacts__title {
  @extend %visually-hidden;
}

.cards {
  @include media(min, tablet) {
    @include flex(16);
    margin-bottom: 60px;
  }

  @include media(min, desktop) {
    @include flex(32);
    margin-bottom: 64px;
  }
}

.card {
  width: 280px;

  background-color: var(--text-white);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;

  @include media(max, phone) {
    margin-right: auto;
    margin-left: auto;
  }

  @include media(max, tablet) {
    margin-right: auto;
    margin-left: auto;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 32px;
    }
  }

  @include media(min, phone) {
    width: 440px;
  }

  @include media(min, tablet) {
    width: 224px;

    padding-right: 24px;
    padding-left: 24px;
  }

  @include media(min, desktop) {
    width: 368px;

    padding-right: 40px;
    padding-left: 40px;
  }
  &:hover,
  &:focus {
    outline: 9px double #efd478;
    outline-offset: -9.5px;
    transform: scale(1.05);
    background-image: linear-gradient(
      rgba(239, 211, 120, 0.1),
      rgba(239, 211, 120, 0.5)
    );
  }

  @include animation(outline);
  @include animation(transform);
}

.card__title {
  width: 80px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;

  text-align: center;
  letter-spacing: 0.04em;

  color: var(--text-black);
  background-color: var(--button-yellow);

  border-radius: 4px;

  padding-right: 23px;
  padding-left: 23px;

  margin-bottom: 20px;

  @include media(min, tablet) {
    width: 73px;

    font-size: 16px;

    padding-right: 13px;
    padding-left: 13px;

    margin-bottom: 32px;
  }

  @include media(min, desktop) {
    padding-right: 14px;
    padding-left: 14px;
  }
}

.card__title.size {
  width: 130px;

  padding-right: 20px;
  padding-left: 20px;

  @include media(min, tablet) {
    width: 138px;

    padding-right: 10px;
    padding-left: 10px;
  }
}

.card__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;

  color: var(--text-black);

  margin-bottom: 8px;

  @include media(min, tablet) {
    font-size: 14px;

    margin-bottom: 12px;
  }

  @include media(min, desktop) {
    font-size: 16px;

    margin-bottom: 8px;
  }
}

.card__address {
  border-bottom: 1px solid #e1e1e1;

  padding-bottom: 24px;

  margin-bottom: 24px;

  @include media(min, tablet) {
    padding-bottom: 26px;

    margin-bottom: 32px;
  }

  @include media(min, desktop) {
    padding-bottom: 32px;
  }

  @include animation(text-decoration);
}

.card__address:hover .card__link,
.card__address:focus .card__link {
  text-decoration: underline;
}

.card__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 183%;

  color: var(--text-orange);

  @include media(min, tablet) {
    font-size: 14px;

    padding-bottom: 26px;
  }

  @include media(min, desktop) {
    font-size: 16px;

    padding-bottom: 32px;
  }
}

.card__block {
  border-bottom: 1px solid #e1e1e1;

  padding-bottom: 24px;

  margin-bottom: 24px;

  @include media(min, tablet) {
    padding-bottom: 32px;

    margin-bottom: 32px;
  }
}

.card__desk {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;

  color: var(--text-black);

  @include media(min, tablet) {
    font-size: 14px;
  }

  @include media(min, desktop) {
    font-size: 16px;
  }
}

.card__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;

  color: var(--button-grey);

  margin-bottom: 8px;

  @include media(min, tablet) {
    font-size: 14px;

    margin-bottom: 12px;
  }

  @include media(min, desktop) {
    font-size: 16px;
  }
}

.card__contact {
  display: block;

  font-weight: 500;
  font-size: 12px;

  @include font-size(12px, 18px);

  color: var(--text-black);

  @include media(min, tablet) {
    font-size: 14px;
    line-height: 183%;
  }

  @include media(min, desktop) {
    font-size: 16px;
  }
}

.btn-group {
  @include media(min, tablet) {
    width: 408px;

    @include flex(16);

    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
  }

  @include media(min, desktop) {
    margin-bottom: 120px;
  }
}

.location__btn {
  width: 196px;

  @include button-styles(color);

  @include media(max, tablet) {
    margin-bottom: 16px;
  }

  @include media(min, tablet) {
  }
}

.franchise__btn {
  width: 196px;

  @include button-styles(stroke);

  padding-right: 46px;
  padding-left: 46px;

  @include media(max, tablet) {
    margin-bottom: 39px;
  }

  @include media(min, tablet) {
  }
}
