//how many images we have
$slides: 5;

// how much we want each slide to show
$time_per_slide: 5;

// total time needed for full animation
$total_animation_time: $time_per_slide * $slides;

.gallery {
  // background-image: linear-gradient(to bottom, #84a178 24px, #fcfcfc 24px);
}

.gallery__container {
  @extend %container;
}

.gallery__title {
  @extend %visually-hidden;
}

.gallery__box {
  position: relative;
  margin: 0 auto;
  width: 280px;
  height: 130px;
  border-radius: 7.5px;
  background-color: #fff;
  overflow: hidden;

  @include media(min, phone) {
    width: 350px;
    height: 195px;
  }

  @include media(min, tablet) {
    width: 704px;
    height: 327px;
    border-radius: 18px;
  }

  @include media(min, desktop) {
    width: 1013px;
    height: 422px;
    border-radius: 24px;
  }
}

.gallery__picture {
  position: absolute;
  display: block;
  margin: 0;

  animation: round #{$total_animation_time}s infinite;
  opacity: 0;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@for $index from 1 to ($slides + 1) {
  .gallery__picture:nth-child(#{$index}) {
    animation-delay: #{$total_animation_time - $time_per_slide * $index}s;
  }
}

.gallery__img {
  width: 280px;
  height: 130px;

  @include media(min, phone) {
    width: 350px;
    height: 195px;
  }

  @include media(min, tablet) {
    width: 704px;
    height: 327px;
  }

  @include media(min, desktop) {
    width: 1013px;
    height: 422px;
  }
}
