.hero {
  background-color: var(--bg-main);
}
.hero__container {
  position: relative;
  overflow: hidden;
  @extend %container;
  padding-top: 61px;
  height: 453px;

  @include media(min, tablet) {
    padding-top: 28px;
    height: 350px;
    overflow: visible;
  }

  @include media(min, desktop) {
    padding-top: 20px;
    height: 550px;
  }
}

.hero__block {
  @include media(min, tablet) {
    @include flex(0, space-between, flex-start);
  }
}

.hero__title {
  padding-right: 32px;
  margin-bottom: 32px;

  font-family: var(--heading-font);
  font-weight: 400;
  @include font-size(26px, 33px);
  text-transform: uppercase;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    text-align: center;
  }
  @include media(min, tablet) {
    padding-top: 12px;
    margin-bottom: 20px;
    @include font-size(18px, 23px);
  }

  @include media(min, desktop) {
    padding-top: 0;
    margin-bottom: 28px;
    @include font-size(38px, 48px);
  }
}

.hero__title--bigger {
  display: inline-block;

  font-size: 34px;
  line-height: 96.5%;

  @include media(min, tablet) {
    @include font-size(24px, 13px);
  }

  @include media(min, desktop) {
    @include font-size(38px, 48px);
  }
}

.hero__links {
  @include flex(8px, flex-start, center);
  position: relative;
  z-index: 2;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    @include flex(80px, center, center);
    padding-right: 32px;
  }

  @include media(min, tablet) {
    justify-content: space-evenly;
  }
  @include media(min, desktop) {
    margin-bottom: 32px;
    justify-content: center;
  }
}

.hero__link--products {
  @include button-styles(stroke, 8px, 10px);
  padding: 0;
  width: 62px;
  height: 24px;
  &::after {
    display: none;
  }

  @include media(min, desktop) {
    @include button-styles(stroke, 14px, 18px);
    padding: 12px 34px;
    width: 134px;
    height: auto;
  }
}

.hero__link--about {
  @include button-styles(text, 8px, 18px);
  padding: 0;
  width: 83px;
  height: 24px;
  text-decoration: underline;

  @include media(min, desktop) {
    @include button-styles(text, 14px, 18px);
    padding: 11px 21px;
    width: auto;
    height: auto;
  }
}

.hero__block-right {
  display: none;

  @include media(min, tablet) {
    display: block;
  }
}

.hero__block-right-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.hero__number {
  margin-bottom: 4px;

  color: var(--text-black);
  font-weight: 900;
  @include font-size(28px, 34px);
  text-align: right;
  text-transform: uppercase;

  @include media(min, desktop) {
    @include font-size(46px, 56px);
  }
}

.hero__under-number {
  @include font-size(8px, 10px);
  text-align: right;

  @include media(min, desktop) {
    @include font-size(14px, 17px);
  }
}

.hero__decor {
  display: none;

  @include media(min, tablet) {
    @include flex(33px);
  }

  @include media(min, desktop) {
    @include flex(14px, center, flex-end);
  }
}

.hero__decor--plate {
  display: block;
  width: 152px;
  height: 152px;
  z-index: 2;

  @include bg-picture(hero, plate-tablet, png);
  background-size: contain;
  background-repeat: no-repeat;

  // animation
  animation: spin 10s linear infinite;
  animation-play-state: paused;
  @keyframes spin {
    100% {
      transform: rotate(1turn);
    }
  }
  &:hover {
    animation-play-state: running;
  }
  // animation end

  @include media(min, tablet) {
    margin-top: 10px;
  }

  @include media(min, desktop) {
    @include bg-picture(hero, plate-desktop, png);
    margin-top: 0;
    width: 225px;
    height: 225px;
  }
}

.hero__thumb {
  flex-basis: calc(100% - 185px);

  @include media(min, desktop) {
    flex-basis: calc(100% - 240px);
  }
}

.hero__thumb-text {
  width: 151px;
  font-size: 12px;
  line-height: 140%;

  @include media(min, desktop) {
    font-size: 14px;
    line-height: 140%;
    width: 220px;
    margin-bottom: 22px;
  }
}

.hero__details {
  width: 151px;
  position: relative;
  z-index: 2;
}

.hero__summary {
  display: block;
  height: 30px;
  width: 50px;

  /* +++удаление стандартного маркера details */
  summary::-webkit-details-marker {
    display: none;
  }
  /* +++удаление стандартного маркера details */

  @include media(min, desktop) {
    padding-bottom: 20px;
  }
}

.hero__summary-icon {
  display: block;
  fill: var(--text-white);
  height: 30px;
  width: 40px;

  .hero__summary:hover &,
  .hero__summary:focus & {
    width: 50px;
  }
}

.hero__summary-svg {
  &:first-child {
    display: block;

    .hero__summary:focus & {
      display: none;
    }
  }

  &:last-child {
    display: none;

    .hero__summary:focus & {
      display: block;
    }
  }
}

.hero__details-text {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 0;

  font-size: 12px;
  line-height: 140%;

  @include media(min, desktop) {
    font-size: 14px;
    line-height: 140%;
  }

  .hero__details[open] & {
    display: block;
    width: 220px;
  }
}

.hero__decor--ribbon {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;

  display: block;

  background-origin: cover;
  background-repeat: no-repeat;

  width: 102.5%;
  height: 50px;
  background-size: contain;
  @include bg-picture(hero, ribbon-mobile, png);

  @media screen and (min-width: 480px) and (max-width: 767px) {
    background-position: 50% 50%;
  }

  @include media(min, tablet) {
    @include bg-picture(hero, ribbon-tablet, png);
    width: 768px;
    height: 68px;
  }

  @include media(min, desktop) {
    @include bg-picture(hero, ribbon-desktop, png);
    width: 1200px;
    height: 384px;
  }
}

.hero__decor--icecream {
  position: absolute;
  bottom: -57px;
  z-index: 1;

  display: block;
  width: 300px;
  height: 350px;

  background-repeat: no-repeat;
  background-size: contain;
  @include bg-picture(hero, ice-cream-mobile, png);

  @media screen and (min-width: 480px) and (max-width: 767px) {
    left: 100px;
    background-position: 80% 50%;
  }

  @include media(min, tablet) {
    @include bg-picture(hero, ice-cream-tablet, png);
    right: 0;
    width: 400px;
    height: 450px;
  }

  @include media(min, desktop) {
    @include bg-picture(hero, ice-cream-desktop, png);
    right: 0;
    bottom: -97px;
    width: 650px;
    height: 750px;
  }
}
