.products {
  background-color: white;
  // background-image: url(../images/background/mobile/mobile-bg-1-min.png);

  background-image: url('../images/background/mobile/mobile-bg-1-min.png'),
    url('../images/background/mobile/mobile-bg-2-min.png'),
    url('../images/background/mobile/mobile-bg-3-min.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/background/mobile/mobile-bg-1@2x-min.png'),
      url('../images/background/mobile/mobile-bg-2@2x-min.png'),
      url('../images/background/mobile/mobile-bg-3@2x-min.png');
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url('../images/background/mobile/mobile-bg-1@3x-min.png'),
      url('../images/background/mobile/mobile-bg-2@3x-min.png'),
      url('../images/background/mobile/mobile-bg-3@3x-min.png');
  }
  background-position: top 0 left 0, top 750px left 0, top 1500px left 0;
  background-size: 100% 750px, 100% 750px, 100% 750px;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url(../images/background/tablet/tablet-bg-min.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/tablet/tablet-bg@2x-min.png);
    }
    background-size: 100% 852px;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/background/bigger/big-desktop-bg-min.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/bigger/big-desktop-bg@2x-min.png);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('../images/background/bigger/big-desktop-bg@3x-min.png');
    }
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 50%;
  }
}
.products__container {
  @extend %container;
}

.products__lable {
  margin-bottom: 12px;
  padding-top: 60px;
  @extend %lable;
  color: var(--text-black);
}

.products__title {
  margin-bottom: 148px;
  @extend %title;
  color: var(--text-black);
  @media screen and(min-width: 768px) {
    margin-bottom: 160px;
  }
  @media screen and(min-width: 1200px) {
    margin-bottom: 175px;
  }
}

.products__name {
  margin-top: -50px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--text-black);
  @media screen and(min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and(min-width: 1200px) {
    font-size: 30px;
    line-height: 37px;
    margin-top: -40px;
  }
}

.products__text {
  // @extend %centred;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--text-black);
  @media screen and(min-width: 1200px) {
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
.products__text--cream {
  margin-bottom: 135px;
  @media screen and(min-width: 768px) {
    margin-bottom: 58px;
  }
  @media screen and(min-width: 1200px) {
    margin-bottom: 94px;
  }
}
.products__text--coffee {
  margin-bottom: 93px;
  @media screen and(min-width: 768px) {
    margin-bottom: 9px;
  }
  @media screen and(min-width: 1200px) {
    margin-bottom: 68px;
  }
}
.products__text--milkshakes {
  margin-bottom: 93px;
  @media screen and(min-width: 768px) {
    margin-bottom: 9px;
  }
  @media screen and(min-width: 1200px) {
    margin-bottom: 66px;
  }
}

.products__list {
  padding-bottom: 60px;
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 80px;
  }
  @media screen and(min-width: 1200px) {
    gap: 29px;
    padding-bottom: 60px;
  }
}

.products__item {
  margin-bottom: 164px;
  @extend %centred;
  @media screen and(min-width: 768px) {
    margin-bottom: 0;
  }
}
.products__item:last-child {
  margin-bottom: 0;
}

.products__item--cream {
  background-color: var(--bg-products-1);
  width: 280px;
  height: 528px;

  border-radius: 24px;
  @media screen and(min-width: 768px) {
    width: 224px;
    height: 428px;
  }
  @media screen and(min-width: 1200px) {
    width: 370px;
    height: 535px;
  }
}
.products__item--green {
  position: relative;
  width: 200px;
  height: 200px;
  @extend %centred;
  top: -70px;
  // margin-bottom: 20px;
  @media screen and(min-width: 768px) {
    margin-bottom: -30px;
  }

  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  border-radius: 100.166px;

  &::before {
    @include pseudo(200px, 200px);
    background-image: url(../images/products/products-1-min.png);
    background-size: cover;
    position: absolute;
    bottom: 21px;
  }
}
.products__item--coffee {
  background-color: var(--bg-products-2);
  width: 280px;
  height: 528px;
  border-radius: 24px;
  @media screen and(min-width: 768px) {
    width: 224px;
    height: 428px;
  }
  @media screen and(min-width: 1200px) {
    width: 370px;
    height: 535px;
  }
}
.products__item--yellow {
  position: relative;
  width: 200px;
  height: 200px;
  @extend %centred;
  top: -70px;
  // margin-bottom: 20px;
  @media screen and(min-width: 768px) {
    margin-bottom: -30px;
  }

  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  border-radius: 100.166px;

  &::before {
    @include pseudo(200px, 200px);
    background-image: url(../images/products/products-2-min.png);
    background-size: cover;
    position: absolute;
    bottom: 21px;
  }
}

.products__item--milkshakes {
  padding-bottom: 60px;
  background-color: var(--bg-products-3);
  width: 280px;
  height: 528px;
  border-radius: 24px;
  @media screen and(min-width: 768px) {
    width: 224px;
    height: 428px;
  }
  @media screen and(min-width: 1200px) {
    width: 370px;
    height: 535px;
  }
}
.products__item--brown {
  position: relative;
  width: 200px;
  height: 200px;
  @extend %centred;
  top: -70px;
  // margin-bottom: 20px;
  @media screen and(min-width: 768px) {
    margin-bottom: -30px;
  }

  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  border-radius: 100.166px;

  &::before {
    @include pseudo(200px, 200px);
    background-image: url(../images/products/products-3-min.png);
    background-size: cover;
    position: absolute;
    bottom: 21px;
  }
}
.products__milkshakes {
  padding-bottom: 60px;
}
.product__btn {
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products__icon {
  width: 40px;
  height: 20px;

  .product__btn:hover & {
    width: 50px;
  }

  .product__btn:focus & {
    width: 50px;
  }
}

.products__svg {
  &:first-child {
    display: block;

    .product__btn:focus & {
      display: none;
    }
  }

  &:last-child {
    display: none;

    .product__btn:focus & {
      display: block;
    }
  }
}

// .customers__link:hover,
// .customers__link:focus {
//   color: var(--accent-color);
//   border: 1px solid var(--accent-color);
// }

.product__btn--cream {
  background-color: var(--bg-products-1);
}
.product__btn--coffee {
  background-color: var(--bg-products-2);
}
.product__btn--milkshakes {
  background-color: var(--bg-products-3);
}
